.adddivwithopacity{
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
   /*content: “ ”;*/
}

.takeourborder {
	border: none !important;
	background-color: background-color: rgba(0,0,0,0.2);
}
.insertleftline {
	border-left: 2px solid #ced4da !important;
} 

.insertbottomline {
	border-bottom: 2px solid #ced4da !important;
}

.formbackground {
	 /*background-color: rgba(0,0,0,0.2);*/

	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
	 filter: blur(10px);
	 height: 100vh;
	 width: 100%;
}
.formsignup{
	width: 75%;
	margin: 0 auto;
	margin-top: 150px;
	 background: inherit; 
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0; 
	 bottom: 0;
	 
}