.adddivwithopacity{
    background-color: rgba(247,247,247,0.4);
    height: 100vh;
   /*content: “ ”;*/
}

.adddivwithopacitylogin{
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
   /*content: “ ”;*/
}

.loginlabeltext{
	color: white;
}

.transparentinputlogin{
	 background-color: rgba(0,0,0,0);

}
.transparentinputlogin::placeholder{
	color: white;
}

.transparentinputlogin:focus {
	color: white;
	background-color: rgba(0,0,0,0.5);
	box-shadow: none;
}

.transparentinput{
	 background-color: rgba(0,0,0,0);
}



.transparentinput:focus {
	color: white;
	background-color: rgba(0,0,0,0.5);
	box-shadow: none;
}

.transparentinput:focus::placeholder {
	color: rgba(255,255,255,0.8);
}
.takeourborder {
	border: none !important;

}

.insertleftline {
	border-left: 2px solid rgba(0,0,0,0.5) !important;
	border-color: black;
} 

.insertbottomline {
	border-bottom: 2px solid rgba(0,0,0,0.5) !important;
}

.formbackground {
	 /*background-color: rgba(0,0,0,0.2);*/

	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
	 filter: blur(10px);
	 height: 100vh;
	 width: 100%;
}
.formsignup{
	width: 75%;
	margin: 0 auto;
	margin-top: 150px;
	 background: inherit; 
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0; 
	 bottom: 0;
	 
}